<div >
<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <td>Number</td>
    
      <td>Airplane</td>
      
      <td>Date</td>
      <td>Dest</td>
      
      <td>Dep</td>
      <td colspan="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.number %></td>
        <td><%= flight.airplane_id %></td>
        <td><%= flight.date %></td>
        <td><%= flight.destination %></td>
        <td><%= flight.departure %></td>
        <td><%= link_to 'Show', flight %></td>
        <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
        <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_flight_path %>

</div>