<section class="vh-100 bg-image"
  style="background-image: url('https://arcticrodeorecordings.com/wordpress/wp-content/uploads/2018/03/BA_ARR_Box_170221-4.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                            <%= form_for @user , :class=>"card-body cardbody-color p-lg-5"  do |f| %>

                                <div class="form-outline mb-4">
                                    <%= f.label :name , " Your name " , :class => 'form-label' %>
                                    <%= f.text_field :name , :class => "form-control form-control-lg" %>
                                </div>

                                <div class="form-outline mb-4">
                                    <%= f.label :email , " Email Address " , :class => 'form-label'  %>
                                    <%= f.email_field :email , :class => "form-control form-control-lg" %>
                                </div>


                                <div class="form-outline mb-4">
                                    <%= f.label :password , "Password " , :class => "form-label"   %>
                                    <%= f.password_field :password , :class => "form-control form-control-lg" %>
                                </div>

                                <div class="form-outline mb-4">
                                    <%= f.label :password_confirmation , "Re-type Password " , :class => "form-label"   %>
                                    <%= f.password_field :password_confirmation  , :class => "form-control form-control-lg " %>
                                </div>
                            
                                <div class="d-flex justify-content-center">
                                
                                    <button type="submit" class="btn btn-color px-5 mb-5 w-100">Register</button>
                                    <% end %>
                                </div>
                                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                                class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 